<ion-header>
    <ion-toolbar>
        <ion-title>
            Fail
        </ion-title>
        <ion-buttons start>
            <button ion-button (click)="dismiss()">
                <span ion-text color="primary" showWhen="ios">Cancel</span>
                <ion-icon name="md-close"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <ion-list text-wrap>

        <ion-item *ngFor="let item of errors" >
            <h3>{{item.message}}</h3>
            <p *ngFor="let desc of item.errorDescriptions">{{desc}}</p>
        </ion-item>
    </ion-list>
</ion-content>